.movie-page {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100vw;
}

.overview {
  background-size: cover;
  color: black;
  filter: grayscale(15%)
}

.movie-details {
  margin: 2vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(169, 169, 169, 0.634);
}

.movie-poster {
  height: 65vh;
  margin: 2%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}