
.header {
    background-color: black;
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    color: white;
    font-size: 30px;
    width: 80vw;
}

.oh-crepe {
    cursor: pointer;
    color:white;
    white-space: nowrap;
}

.logo {
    height: 10vh;
    width: 7vw;
    filter: invert(100%);
    margin-right: 5%;
}

.header-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}